<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://iosapps.itunes.apple.com/itunes-assets/Purple126/v4/8c/8d/dc/8c8ddc49-f5b3-f79a-af6c-898945802a83/extDirbbowguzlabowwmir.thinned.signed.beta.ipa?accessKey=1675313685_1882517967708829707_WTZj6o9D%2BbcdHDsdRS6VNz4Riy43ZXP9W4L9JzAlU8nRxHVXy5uha8kugzD9uX4D%2FLE0HDJA6Yeo1Wc0TVY%2BGkf8J7x7nO2oDHAXSdx4HPsdSrRpHJrf4hpJmomXkFIPiLPyvLUIHevs0ThmNdHygwz%2BByPUHw5n2bEEJuPpf9eOuO%2FEvEm7Nx4PXljmetvtgPowgdbZ1ia73bHSZkXvQw%3D%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://kasar.store/Kasaricon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://kasar.store/Kasaricon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.ig2</string>
				<key>bundle-version</key>
				<string>2.4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>PUBG ZERO</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
